<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mtis"
        tools:targetApi="31">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".user.LoginActivity"/>
        <activity android:name=".user.SignupActivity"/>
        <activity android:name=".EntryGroupDetailActivity" android:launchMode="standard"/>
        <activity android:name=".EntryDetailActivity" android:launchMode="standard"/>
        <activity android:name=".NewEntryActivity" android:launchMode="standard"/>
        <activity android:name=".NewGoalActivity" android:launchMode="standard"/>
        <activity android:name=".EntryGroupsListActivity"/>
        <activity android:name=".StoryActivity" android:launchMode="standard"/>
        <activity android:name=".QuestionActivity" android:launchMode="standard"/>
        <activity android:name=".JournalActivity" android:launchMode="standard"/>
        <activity android:name=".ProfileActivity" android:launchMode="standard"/>

    </application>


</manifest>